In [1]:
# import json 
# import gzip 
# def parse(path): 
#     g = gzip.open(path, 'r') 
#     for l in g: 
#         yield json.dumps(eval(l))

In [2]:
# f = open("output.strict", 'w') 
# for l in parse("reviews_Video_Games.json.gz"): 
#     f.write(l + '\n')

In [2]:
import pandas as pd 
import gzip
import numpy as np

In [2]:
def parse(path): 
    g = gzip.open(path, 'rb') 
    for l in g: 
        yield eval(l)

In [3]:
def getDF(path): 
    i = 0 
    df = {} 
    for d in parse(path): 
        df[i] = d 
        i += 1 
    return pd.DataFrame.from_dict(df, orient='index')

In [4]:
df = getDF('meta_Clothing_Shoes_and_Jewelry.json.gz')

In [6]:
# df = getDF('reviews_Clothing_Shoes_and_Jewelry_5.json.gz')

In [7]:
df.to_csv("Amazon product data.csv", index = False)
# dataframe = pd.read_csv('Amazon product data')

In [ ]:
# dataframe = pd.read_csv('Amazon product data')
# dataframe.info()

In [5]:
# dataframe.loc[dataframe['asin'] == 'B00JO8II76']

In [90]:
# np.array(df['related'][1])

In [45]:
# data = json.dumps(json_data)

In [91]:
# val = pd.to_json(json_data)
# player_link = json.dumps(data)
# with open("player_list.json", "w") as f:
#     f.write(player_link)

In [92]:
# x = pd.read_json('player_list.json', index  = True)

In [52]:
# df = df[np.isfinite(df['price'])]

In [93]:
df.head()

,salesRank,brand,categories,related,asin,title,price,product_name
0,{'Clothing': 1233557},Big Dreams,"[['Clothing, Shoes & Jewelry', 'Girls'], ['Clo...","{'also_viewed': ['B00JO8II76', 'B00DGN4R1Q', '...",0000037214,Purple Sequin Tiny Dancer Tutu Ballet Dance Fa...,6.99,"Big Dreams,Purple Sequin Tiny Dancer Tutu Ball..."
1,{'Sports &amp; Outdoors': 8547},Boutique Cutie,"[['Clothing, Shoes & Jewelry', 'Girls', 'Cloth...","{'also_viewed': ['B00E1YRI4C', 'B00D23MC6W', '...",0000031887,Ballet Dress-Up Fairy Tutu,6.79,"Boutique Cutie,Ballet Dress-Up Fairy Tutu"
2,{'Kitchen & Dining': 16987},NaN,"[['Clothing, Shoes & Jewelry', 'Novelty, Costu...","{'also_viewed': ['B0006JCGUM', 'B000BMTCK6', '...",0123456479,SHINING IMAGE HUGE PINK LEATHER JEWELRY BOX / ...,64.98,"nan,SHINING IMAGE HUGE PINK LEATHER JEWELRY BO..."
3,{'Clothing': 1180499},NaN,"[['Clothing, Shoes & Jewelry', 'Women', 'Acces...","{'also_viewed': ['B008MTRT1O', 'B00BUG47S4', '...",0456844570,RiZ Women's Beautify Crafted &frac12; Rimmed F...,NaN,"nan,RiZ Women's Beautify Crafted &frac12; Rimm..."
4,{'Clothing': 1038084},NaN,"[['Clothing, Shoes & Jewelry', 'Women', 'Acces...","{'also_viewed': ['B00A6JD8EA', 'B00BFL4FTA', '...",0456808574,Lantin White Visor Wrap Around Ski Style Aviat...,NaN,"nan,Lantin White Visor Wrap Around Ski Style A..."

In [ ]:
# df = df.fillna(0)
# df["product_name"] = df["brand"].map(str)+ str(',') + df["title"]
df["product_name"] = df["title"]
df = df.drop(["imUrl","description","title"], axis = 1)

In [100]:
# df = df.dropna(subset=['related'])
# df.head()

In [101]:
# df = df.dropna(subset=['title'])
# df = df.dropna(subset=['salesRank'])

In [102]:
# dataframe = df

In [ ]:
df = df.drop(["brand"], axis = 1)

In [103]:
# dataframe.info()

In [104]:
df.head()

,salesRank,brand,categories,related,asin,title,price,product_name
0,{'Clothing': 1233557},Big Dreams,"[['Clothing, Shoes & Jewelry', 'Girls'], ['Clo...","{'also_viewed': ['B00JO8II76', 'B00DGN4R1Q', '...",0000037214,Purple Sequin Tiny Dancer Tutu Ballet Dance Fa...,6.99,Purple Sequin Tiny Dancer Tutu Ballet Dance Fa...
1,{'Sports &amp; Outdoors': 8547},Boutique Cutie,"[['Clothing, Shoes & Jewelry', 'Girls', 'Cloth...","{'also_viewed': ['B00E1YRI4C', 'B00D23MC6W', '...",0000031887,Ballet Dress-Up Fairy Tutu,6.79,Ballet Dress-Up Fairy Tutu
2,{'Kitchen & Dining': 16987},NaN,"[['Clothing, Shoes & Jewelry', 'Novelty, Costu...","{'also_viewed': ['B0006JCGUM', 'B000BMTCK6', '...",0123456479,SHINING IMAGE HUGE PINK LEATHER JEWELRY BOX / ...,64.98,SHINING IMAGE HUGE PINK LEATHER JEWELRY BOX / ...
3,{'Clothing': 1180499},NaN,"[['Clothing, Shoes & Jewelry', 'Women', 'Acces...","{'also_viewed': ['B008MTRT1O', 'B00BUG47S4', '...",0456844570,RiZ Women's Beautify Crafted &frac12; Rimmed F...,NaN,RiZ Women's Beautify Crafted &frac12; Rimmed F...
4,{'Clothing': 1038084},NaN,"[['Clothing, Shoes & Jewelry', 'Women', 'Acces...","{'also_viewed': ['B00A6JD8EA', 'B00BFL4FTA', '...",0456808574,Lantin White Visor Wrap Around Ski Style Aviat...,NaN,Lantin White Visor Wrap Around Ski Style Aviat...

In [105]:
# dataframe = dataframe.drop(["title","brand"], axis = 1)
df = df.drop(["categories"], axis = 1)

In [106]:
df.head()

,salesRank,brand,related,asin,title,price,product_name
0,{'Clothing': 1233557},Big Dreams,"{'also_viewed': ['B00JO8II76', 'B00DGN4R1Q', '...",0000037214,Purple Sequin Tiny Dancer Tutu Ballet Dance Fa...,6.99,Purple Sequin Tiny Dancer Tutu Ballet Dance Fa...
1,{'Sports &amp; Outdoors': 8547},Boutique Cutie,"{'also_viewed': ['B00E1YRI4C', 'B00D23MC6W', '...",0000031887,Ballet Dress-Up Fairy Tutu,6.79,Ballet Dress-Up Fairy Tutu
2,{'Kitchen & Dining': 16987},NaN,"{'also_viewed': ['B0006JCGUM', 'B000BMTCK6', '...",0123456479,SHINING IMAGE HUGE PINK LEATHER JEWELRY BOX / ...,64.98,SHINING IMAGE HUGE PINK LEATHER JEWELRY BOX / ...
3,{'Clothing': 1180499},NaN,"{'also_viewed': ['B008MTRT1O', 'B00BUG47S4', '...",0456844570,RiZ Women's Beautify Crafted &frac12; Rimmed F...,NaN,RiZ Women's Beautify Crafted &frac12; Rimmed F...
4,{'Clothing': 1038084},NaN,"{'also_viewed': ['B00A6JD8EA', 'B00BFL4FTA', '...",0456808574,Lantin White Visor Wrap Around Ski Style Aviat...,NaN,Lantin White Visor Wrap Around Ski Style Aviat...

In [107]:
df["product_id"] = df["asin"]
df = df.drop(["asin"],axis = 1)

In [108]:
df.head()

,salesRank,brand,related,title,price,product_name,product_id
0,{'Clothing': 1233557},Big Dreams,"{'also_viewed': ['B00JO8II76', 'B00DGN4R1Q', '...",Purple Sequin Tiny Dancer Tutu Ballet Dance Fa...,6.99,Purple Sequin Tiny Dancer Tutu Ballet Dance Fa...,0000037214
1,{'Sports &amp; Outdoors': 8547},Boutique Cutie,"{'also_viewed': ['B00E1YRI4C', 'B00D23MC6W', '...",Ballet Dress-Up Fairy Tutu,6.79,Ballet Dress-Up Fairy Tutu,0000031887
2,{'Kitchen & Dining': 16987},NaN,"{'also_viewed': ['B0006JCGUM', 'B000BMTCK6', '...",SHINING IMAGE HUGE PINK LEATHER JEWELRY BOX / ...,64.98,SHINING IMAGE HUGE PINK LEATHER JEWELRY BOX / ...,0123456479
3,{'Clothing': 1180499},NaN,"{'also_viewed': ['B008MTRT1O', 'B00BUG47S4', '...",RiZ Women's Beautify Crafted &frac12; Rimmed F...,NaN,RiZ Women's Beautify Crafted &frac12; Rimmed F...,0456844570
4,{'Clothing': 1038084},NaN,"{'also_viewed': ['B00A6JD8EA', 'B00BFL4FTA', '...",Lantin White Visor Wrap Around Ski Style Aviat...,NaN,Lantin White Visor Wrap Around Ski Style Aviat...,0456808574

In [109]:
# related_split = pd.get_dummies(x)

In [110]:
# sales = dataframe['salesRank'].apply(lambda x: pd.Series(str(x).split(':')))

In [111]:
# dataframe.columns = dataframe.columns.map(lambda x: x.split(".")[-1])

In [112]:
# new = pd.Series(dataframe["related"])

In [113]:
# x = np.array(dataframe["related"])
# x

In [114]:
#  np.array_split(3, x)

In [137]:
df["related"][1]

"{'also_viewed': ['B00E1YRI4C', 'B00D23MC6W', 'B00AFDOPDA', 'B00538F5OK', 'B003AVKOP2', 'B008F0SU0Y', 'B004303OEW', 'B002GZPTRQ', 'B002GZGI4E', 'B00HSOJB9M', 'B003IEDM9Q', 'B008F0SMUC', 'B005C4Y4F6', 'B008UD01L2', 'B0071KR2LC', 'B00D0FCQQI', 'B004PYEE8G', 'B003AVNY6I', 'B002C3Y6WG', 'B003L2OASM', 'B00CEUWTFS', 'B004YHFSIO', 'B009RXWNSI', 'B00D2JSRFQ', 'B00I2EOG92', 'B00K18LJ6U', 'B00JHNSNSM', 'B0054TBWKO', 'B003AVEU6G', 'B00CEUWUZC', 'B00D103F8U', 'B00D2JTMS2', 'B008BMGHM4', 'B00CEUX0D8', 'B00JMX4CCS', 'B003WFSLBA', 'B00CEUWY8K', '0000032050', 'B00GOR07RE', 'B009V5DTDA', '0000032042', 'B00I3OX1II', 'B008X6CBS2', 'B007XAI4LW', 'B008UBQZKU', 'B00DPLLQR2', 'B007XAI53E', '0000032034', 'B00K18LKX2', 'B00IIK61WA', '0000031852', 'B004PEI45K', '0000031895', 'B00CEUX4QQ', 'B005HMHOQY', 'B008UBG5IW', 'B00E1Q66BG', 'B00HSOJKN4', 'B004ILT36Y'], 'bought_together': ['B00D23MC6W'], 'also_bought': ['0000031852', '0000031895', '0000031909', 'B00D2K1M3O', 'B00D10CLVW', 'B003AVKOP2', 'B00D103F8U', 'B00613WDTQ', 'B008F0SU0Y', 'B00D23MC6W', 'B00D0GCI8S', 'B00E1YRI4C', 'B008UBQZKU', 'B003AVEU6G', 'B008F0SMUC', 'B002C3Y6WG', 'B005JJ275S', 'B00D0WDS9A', 'B00EN6QXI0', 'B00D0ZF44Y', 'B00D2K0PA0', 'B00HSOJB9M', 'B00CF7G0UA', 'B003IEDM9Q', 'B005JJ274Y', 'B000G8GME4', 'B000IRG356', 'B003AVNY6I', 'B003WFQ42S', 'B005JJ2762', 'B00CEUWY8K', '0375843930', 'B00AFDOPDA', 'B00613VNL0', 'B004JBEYC6', 'B009QVCTTY', 'B00I1W2E1C', '0375851682', 'B005JJ2758', 'B002R0FABA', 'B002GZPTRQ', 'B005Z2UDEG', 'B002R0FA24', 'B002GZGI4E', 'B00CEUX0D8', 'B001V5XKC8', 'B00HSC8O74', 'B003UM99FC', 'B00538F5OK', 'B008LOSB2Q', 'B003ILA0L2', 'B002G9UFNK', 'B007Z7HSFG', 'B007XAI4LW', 'B004LHZ1NY', 'B003LTOZK8', '0000032034', 'B00CEV86I6', 'B003IRFOU8', 'B00BC4GY9Y', 'B00DJB65ME', 'B005BGOWJ8', 'B005Y0QYHY', 'B00498HUQ6', 'B0079MHVEA', 'B00ATBQSKG', 'B00I1VZPVY', 'B001QKHXEE', 'B004PEI45U', 'B000NZT2H4', 'B008C7PHOC', 'B00ATBQSL0', 'B00A8PUJ62', '0448408775', 'B008CLA6GW', 'B00DSJ6QGW', 'B008F0SY6O', 'B002R0F7FE', 'B00FAZ5ZE6', 'B00D8ERLL6', 'B008X6CBS2', 'B00D0FCQQI', 'B008UD01L2', 'B00D9C1WBM', 'B000VLO9JQ', 'B00CEUWUZC', 'B001GTKPEK', 'B002SJ7N42', 'B008HA0BDG', 'B000KIJP2Q', 'B00427XACM', 'B004BFI994', 'B00D2JTMS2', 'B001T9NUFS', 'B0046W9T8C']}"

In [115]:
# row = dataframe['']

In [116]:
# dd = df

In [117]:
# df2 = dd.iloc[:3]

In [125]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1001533 entries, 0 to 1503382
Data columns (total 7 columns):
salesRank       1001533 non-null object
brand           77493 non-null object
related         1001533 non-null object
title           1001533 non-null object
price           460425 non-null float64
product_name    1001533 non-null object
product_id      1001533 non-null object
dtypes: float64(1), object(6)
memory usage: 61.1+ MB

In [131]:
sales = df.iloc[:0]

In [133]:
sales["related"] = df["related"]

In [135]:
sales=sales.dropna(axis=1,how='all')

In [138]:
sales = sales['related'].apply(lambda x: pd.Series(str(x).split('],')))

In [140]:
sales.head()

,0,1,2
0,"{'also_viewed': ['B00JO8II76', 'B00DGN4R1Q', '...",NaN,NaN
1,"{'also_viewed': ['B00E1YRI4C', 'B00D23MC6W', '...",'bought_together': ['B00D23MC6W',"'also_bought': ['0000031852', '0000031895', '..."
2,"{'also_viewed': ['B0006JCGUM', 'B000BMTCK6', '...","'bought_together': ['B000BMTCK6', 'B0006JCGUM'","'also_bought': ['B000BMTCK6', 'B0006JCGUM', '..."
3,"{'also_viewed': ['B008MTRT1O', 'B00BUG47S4', '...",NaN,NaN
4,"{'also_viewed': ['B00A6JD8EA', 'B00BFL4FTA', '...",NaN,NaN

In [142]:
sales.to_csv('Sales.csv')

In [ ]:
also_viewed = sales[0].apply(lambda x: pd.Series(str(x).split(': [')))

In [ ]:
bought_together = sales[1].apply(lambda x: pd.Series(str(x).split(': [')))

In [67]:
reco = sales

In [68]:
reco.head()

,0,1,2
0,"{'also_viewed': ['B00JO8II76', 'B00DGN4R1Q', '...",NaN,NaN
1,"{'also_viewed': ['B00E1YRI4C', 'B00D23MC6W', '...",'bought_together': ['B00D23MC6W',"'also_bought': ['0000031852', '0000031895', '..."
2,"{'also_viewed': ['B0006JCGUM', 'B000BMTCK6', '...","'bought_together': ['B000BMTCK6', 'B0006JCGUM'","'also_bought': ['B000BMTCK6', 'B0006JCGUM', '..."

In [69]:
reco['also_viewed'] = also_viewed[1]
reco['bought_together'] = bought_together[1]
reco['also_bought'] = also_bought[1]

In [ ]:
reco = reco.drop([0,1,2], axis=1)

In [83]:
reco.head()

,also_viewed,bought_together,also_bought
0,"'B00JO8II76', 'B00DGN4R1Q', 'B00E1YRI4C']}",NaN,NaN
1,"'B00E1YRI4C', 'B00D23MC6W', 'B00AFDOPDA', 'B00...",'B00D23MC6W',"'0000031852', '0000031895', '0000031909', 'B00..."
2,"'B0006JCGUM', 'B000BMTCK6', 'B00194Q262', 'B00...","'B000BMTCK6', 'B0006JCGUM'","'B000BMTCK6', 'B0006JCGUM', 'B00194Q262', 'B00..."

In [85]:
reco = reco.replace({']}': ''}, regex=True)

In [86]:
reco.head()

,also_viewed,bought_together,also_bought
0,"'B00JO8II76', 'B00DGN4R1Q', 'B00E1YRI4C'",NaN,NaN
1,"'B00E1YRI4C', 'B00D23MC6W', 'B00AFDOPDA', 'B00...",'B00D23MC6W',"'0000031852', '0000031895', '0000031909', 'B00..."
2,"'B0006JCGUM', 'B000BMTCK6', 'B00194Q262', 'B00...","'B000BMTCK6', 'B0006JCGUM'","'B000BMTCK6', 'B0006JCGUM', 'B00194Q262', 'B00..."