In [1]:
# import json 
# import gzip 
# def parse(path): 
#     g = gzip.open(path, 'r') 
#     for l in g: 
#         yield json.dumps(eval(l))

In [2]:
# f = open("output.strict", 'w') 
# for l in parse("reviews_Video_Games.json.gz"): 
#     f.write(l + '\n')

# If dataset is not in extracted format

In [10]:
import pandas as pd 
import gzip
import numpy as np

In [2]:
def parse(path): 
    g = gzip.open(path, 'rb') 
    for l in g: 
        yield eval(l)

In [3]:
def getDF(path): 
    i = 0 
    df = {} 
    for d in parse(path): 
        df[i] = d 
        i += 1 
    return pd.DataFrame.from_dict(df, orient='index')

In [5]:
df = getDF('meta_Clothing_Shoes_and_Jewelry.json.gz')

In [6]:
# df = getDF('reviews_Clothing_Shoes_and_Jewelry_5.json.gz')

In [7]:
df.to_csv("Amazon product data.csv", index = False)
# dataframe = pd.read_csv('Amazon product data')

In [8]:
dataframe = pd.read_csv('Amazon product data')
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1503384 entries, 0 to 1503383
Data columns (total 9 columns):
salesRank      1422273 non-null object
brand          97407 non-null object
categories     1503384 non-null object
related        1057123 non-null object
asin           1503384 non-null object
title          1502696 non-null object
price          574882 non-null float64
imUrl          1503305 non-null object
description    84781 non-null object
dtypes: float64(1), object(8)
memory usage: 103.2+ MB

In [9]:
dataframe.head()

,salesRank,brand,categories,related,asin,title,price,imUrl,description
0,{'Clothing': 1233557},Big Dreams,"[['Clothing, Shoes & Jewelry', 'Girls'], ['Clo...","{'also_viewed': ['B00JO8II76', 'B00DGN4R1Q', '...",0000037214,Purple Sequin Tiny Dancer Tutu Ballet Dance Fa...,6.99,http://ecx.images-amazon.com/images/I/31mCncNu...,NaN
1,{'Sports &amp; Outdoors': 8547},Boutique Cutie,"[['Clothing, Shoes & Jewelry', 'Girls', 'Cloth...","{'also_viewed': ['B00E1YRI4C', 'B00D23MC6W', '...",0000031887,Ballet Dress-Up Fairy Tutu,6.79,http://ecx.images-amazon.com/images/I/314qZjYe...,This adorable basic ballerina tutu is perfect ...
2,{'Kitchen & Dining': 16987},NaN,"[['Clothing, Shoes & Jewelry', 'Novelty, Costu...","{'also_viewed': ['B0006JCGUM', 'B000BMTCK6', '...",0123456479,SHINING IMAGE HUGE PINK LEATHER JEWELRY BOX / ...,64.98,http://ecx.images-amazon.com/images/I/413tGhqo...,Elegance par excellence. Hand-crafted of the f...
3,{'Clothing': 1180499},NaN,"[['Clothing, Shoes & Jewelry', 'Women', 'Acces...","{'also_viewed': ['B008MTRT1O', 'B00BUG47S4', '...",0456844570,RiZ Women's Beautify Crafted &frac12; Rimmed F...,NaN,http://ecx.images-amazon.com/images/I/31QZTHxv...,NaN
4,{'Clothing': 1038084},NaN,"[['Clothing, Shoes & Jewelry', 'Women', 'Acces...","{'also_viewed': ['B00A6JD8EA', 'B00BFL4FTA', '...",0456808574,Lantin White Visor Wrap Around Ski Style Aviat...,NaN,http://ecx.images-amazon.com/images/I/31UsrgT5...,NaN

In [15]:
# dataframe.loc[dataframe['asin'] == 'B00JO8II76']

,salesRank,brand,categories,related,asin,title,price,imUrl,description
1491658,{'Clothing': 820},NaN,"[['Clothing, Shoes & Jewelry', 'Baby', 'Baby G...","{'also_viewed': ['B00JR2A520', 'B00IUBZJWU', '...",B00JO8II76,Urparcel Baby Girls One Piece Floral Dress Lac...,NaN,http://ecx.images-amazon.com/images/I/41MHjgTL...,NaN

In [11]:
df = dataframe

In [42]:
json_data = df['related'][1].strip()

In [45]:
data = json.dumps(json_data)

In [49]:
# val = pd.to_json(json_data)
player_link = json.dumps(data)
with open("player_list.json", "w") as f:
    f.write(player_link)

In [56]:
x = pd.read_json('player_list.json', index  = True)

TypeError: read_json() got an unexpected keyword argument 'index'

In [53]:
d

'"{\'also_viewed\': [\'B00E1YRI4C\', \'B00D23MC6W\', \'B00AFDOPDA\', \'B00538F5OK\', \'B003AVKOP2\', \'B008F0SU0Y\', \'B004303OEW\', \'B002GZPTRQ\', \'B002GZGI4E\', \'B00HSOJB9M\', \'B003IEDM9Q\', \'B008F0SMUC\', \'B005C4Y4F6\', \'B008UD01L2\', \'B0071KR2LC\', \'B00D0FCQQI\', \'B004PYEE8G\', \'B003AVNY6I\', \'B002C3Y6WG\', \'B003L2OASM\', \'B00CEUWTFS\', \'B004YHFSIO\', \'B009RXWNSI\', \'B00D2JSRFQ\', \'B00I2EOG92\', \'B00K18LJ6U\', \'B00JHNSNSM\', \'B0054TBWKO\', \'B003AVEU6G\', \'B00CEUWUZC\', \'B00D103F8U\', \'B00D2JTMS2\', \'B008BMGHM4\', \'B00CEUX0D8\', \'B00JMX4CCS\', \'B003WFSLBA\', \'B00CEUWY8K\', \'0000032050\', \'B00GOR07RE\', \'B009V5DTDA\', \'0000032042\', \'B00I3OX1II\', \'B008X6CBS2\', \'B007XAI4LW\', \'B008UBQZKU\', \'B00DPLLQR2\', \'B007XAI53E\', \'0000032034\', \'B00K18LKX2\', \'B00IIK61WA\', \'0000031852\', \'B004PEI45K\', \'0000031895\', \'B00CEUX4QQ\', \'B005HMHOQY\', \'B008UBG5IW\', \'B00E1Q66BG\', \'B00HSOJKN4\', \'B004ILT36Y\'], \'bought_together\': [\'B00D23MC6W\'], \'also_bought\': [\'0000031852\', \'0000031895\', \'0000031909\', \'B00D2K1M3O\', \'B00D10CLVW\', \'B003AVKOP2\', \'B00D103F8U\', \'B00613WDTQ\', \'B008F0SU0Y\', \'B00D23MC6W\', \'B00D0GCI8S\', \'B00E1YRI4C\', \'B008UBQZKU\', \'B003AVEU6G\', \'B008F0SMUC\', \'B002C3Y6WG\', \'B005JJ275S\', \'B00D0WDS9A\', \'B00EN6QXI0\', \'B00D0ZF44Y\', \'B00D2K0PA0\', \'B00HSOJB9M\', \'B00CF7G0UA\', \'B003IEDM9Q\', \'B005JJ274Y\', \'B000G8GME4\', \'B000IRG356\', \'B003AVNY6I\', \'B003WFQ42S\', \'B005JJ2762\', \'B00CEUWY8K\', \'0375843930\', \'B00AFDOPDA\', \'B00613VNL0\', \'B004JBEYC6\', \'B009QVCTTY\', \'B00I1W2E1C\', \'0375851682\', \'B005JJ2758\', \'B002R0FABA\', \'B002GZPTRQ\', \'B005Z2UDEG\', \'B002R0FA24\', \'B002GZGI4E\', \'B00CEUX0D8\', \'B001V5XKC8\', \'B00HSC8O74\', \'B003UM99FC\', \'B00538F5OK\', \'B008LOSB2Q\', \'B003ILA0L2\', \'B002G9UFNK\', \'B007Z7HSFG\', \'B007XAI4LW\', \'B004LHZ1NY\', \'B003LTOZK8\', \'0000032034\', \'B00CEV86I6\', \'B003IRFOU8\', \'B00BC4GY9Y\', \'B00DJB65ME\', \'B005BGOWJ8\', \'B005Y0QYHY\', \'B00498HUQ6\', \'B0079MHVEA\', \'B00ATBQSKG\', \'B00I1VZPVY\', \'B001QKHXEE\', \'B004PEI45U\', \'B000NZT2H4\', \'B008C7PHOC\', \'B00ATBQSL0\', \'B00A8PUJ62\', \'0448408775\', \'B008CLA6GW\', \'B00DSJ6QGW\', \'B008F0SY6O\', \'B002R0F7FE\', \'B00FAZ5ZE6\', \'B00D8ERLL6\', \'B008X6CBS2\', \'B00D0FCQQI\', \'B008UD01L2\', \'B00D9C1WBM\', \'B000VLO9JQ\', \'B00CEUWUZC\', \'B001GTKPEK\', \'B002SJ7N42\', \'B008HA0BDG\', \'B000KIJP2Q\', \'B00427XACM\', \'B004BFI994\', \'B00D2JTMS2\', \'B001T9NUFS\', \'B0046W9T8C\']}"'

In [22]:
json = pd.read_json(df['related'][1])

ValueError: Expected object or value

In [52]:
df = df[np.isfinite(df['price'])]

In [53]:
df = df.drop(["imUrl","description"], axis = 1)

In [54]:
df.head()

,salesRank,brand,categories,related,asin,title,price
0,{'Clothing': 1233557},Big Dreams,"[['Clothing, Shoes & Jewelry', 'Girls'], ['Clo...","{'also_viewed': ['B00JO8II76', 'B00DGN4R1Q', '...",0000037214,Purple Sequin Tiny Dancer Tutu Ballet Dance Fa...,6.99
1,{'Sports &amp; Outdoors': 8547},Boutique Cutie,"[['Clothing, Shoes & Jewelry', 'Girls', 'Cloth...","{'also_viewed': ['B00E1YRI4C', 'B00D23MC6W', '...",0000031887,Ballet Dress-Up Fairy Tutu,6.79
2,{'Kitchen & Dining': 16987},NaN,"[['Clothing, Shoes & Jewelry', 'Novelty, Costu...","{'also_viewed': ['B0006JCGUM', 'B000BMTCK6', '...",0123456479,SHINING IMAGE HUGE PINK LEATHER JEWELRY BOX / ...,64.98
11,{'Home &amp; Kitchen': 656086},NaN,"[['Clothing, Shoes & Jewelry', 'Luggage & Trav...","{'also_viewed': ['B00A8OV6R4', 'B00A8P5M96', '...",0641997078,Vera Bradley Tote Blue Rhapsody,47.99
12,{'Toys & Games': 674790},NECA,"[['Clothing, Shoes & Jewelry', 'Novelty, Costu...","{'also_viewed': ['B005TLMG0M', 'B002R0DRR4', '...",0681256036,Twilight Saga: New Moon Alice Chocker Necklace...,17.59

In [55]:
# df = df.fillna(0)

In [62]:
df = df.dropna(subset=['brand'])
df = df.dropna(subset=['related'])

In [63]:
df = df.dropna(subset=['title'])
df = df.dropna(subset=['salesRank'])

In [64]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 76866 entries, 0 to 1503378
Data columns (total 7 columns):
salesRank     76866 non-null object
brand         76866 non-null object
categories    76866 non-null object
related       76866 non-null object
asin          76866 non-null object
title         76866 non-null object
price         76866 non-null float64
dtypes: float64(1), object(6)
memory usage: 4.7+ MB