In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("Cleaned_data.csv",dtype = str)

In [4]:
df.head()

,Unnamed: 0,product_name,product_id,item_price,also_viewed,bought_together,also_bought,rank
0,826936,U.S. Polo Assn. Sport Men's US9061 Watch with ...,B008D902Q2,1385.37,"'B00E955EOO', 'B00DJ242ZK', 'B00AFXL15A', 'B00...","'B00E955EOO', 'B00DJ242ZK', 'B00J2L4EUA', 'B00...","'B00E955EOO', 'B00DJ242ZK', 'B00ENG7WGC', 'B00...",1
1,583,Converse Unisex Chuck Taylor Classic Colors Sn...,B000072UN4,NaN,'B001IX6F1G',"'B001IX6F1G', 'B009ZPWMIE'",NaN,10
2,591,Converse Unisex Chuck Taylor Classic Colors Sn...,B000072UN1,NaN,"'B005BMCKVE', 'B0000AS4YH', 'B005BMEJCW', 'B00...",'B000VHW3M0',NaN,10
3,594,Converse Unisex Chuck Taylor Classic Colors Sn...,B000072UMJ,NaN,"'B000AP4ZZG', 'B000APACVW', 'B008LQR36O', 'B00...","'B000APACVW', 'B000AP4ZZG', 'B008LQR36O', 'B00...","'B000APACVW', 'B008LQR36O', 'B000AP4ZZG', 'B00...",10
4,425689,Wholesale Lot of 50Pc 14G Belly Button Navel R...,B004HWZLBA,116.55000000000001,"'B00A3S40Z0', 'B00B4022II', 'B00AWP6BGU', 'B00...","'B00A3S40Z0', 'B00B4022II', 'B00BXF2CJS', 'B00...","'B00BXF2CJS', 'B00B4022II', 'B00A3S40Z0', 'B00...",10

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1503384 entries, 0 to 1503383
Data columns (total 8 columns):
Unnamed: 0         1503384 non-null object
product_name       1502696 non-null object
product_id         1503384 non-null object
item_price         574882 non-null object
also_viewed        1001533 non-null object
bought_together    646136 non-null object
also_bought        444130 non-null object
rank               942872 non-null object
dtypes: object(8)
memory usage: 91.8+ MB

In [6]:
new_df = df.sort_values("Unnamed: 0")

In [7]:
new_df.head()

,Unnamed: 0,product_name,product_id,item_price,also_viewed,bought_together,also_bought,rank
88736,0,Purple Sequin Tiny Dancer Tutu Ballet Dance Fa...,0000037214,440.37,"'B00JO8II76', 'B00DGN4R1Q', 'B00E1YRI4C'",NaN,NaN,1233557
874912,1,Ballet Dress-Up Fairy Tutu,0000031887,427.77,"'B00E1YRI4C', 'B00D23MC6W', 'B00AFDOPDA', 'B00...",'B00D23MC6W',"'0000031852', '0000031895', '0000031909', 'B00...",8547
942872,10,Red Crocodile Embossed Leather Travel Wallet,0641674791,NaN,"'B00A8OV6R4', 'B00A8P5M96', 'B00A80A9EY', 'B00...",NaN,NaN,NaN
732290,100,Shungite. Obereg GLAZ GORA Na podveske / Shung...,5699031936,NaN,'B00CCAC2CA',NaN,NaN,623406
858371,1000,Batman Utility Belt,B000096QJ7,NaN,"'B000N8S1GE', 'B0072ER5O6', 'B0099DPY6E', 'B00...","'B000N8Q56C', 'B000N8Q57Q', 'B00IIKENZ2', 'B00...","'B000N8Q56C', 'B000N8Q57Q', 'B00IIKENZ2', 'B00...",824301

In [2]:
old_df = pd.read_csv('Amazon product data.csv')

In [3]:
old_df = old_df.drop(["related", "title", "price", "categories","brand", "description","imUrl","asin"],axis=1)

In [4]:
old_df.head()

                         salesRank
0            {'Clothing': 1233557}
1  {'Sports &amp; Outdoors': 8547}
2      {'Kitchen & Dining': 16987}
3            {'Clothing': 1180499}
4            {'Clothing': 1038084}

In [5]:
old_df.to_csv("Categories.csv")

In [ ]:
rank = old_df['salesRank'].apply(lambda x: pd.Series(x.split(':')))

In [12]:
rank.head()

0              {'Clothing': 1233557}
1    {'Sports &amp; Outdoors': 8547}
2        {'Kitchen & Dining': 16987}
3              {'Clothing': 1180499}
4              {'Clothing': 1038084}
Name: salesRank, dtype: object

In [ ]:
rank = rank.replace({'}': ''}, regex=True)
rank = rank.replace({'{': ''}, regex=True)
rank.head()