In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("just_clothing.csv")

C:\Users\Adithya\Anaconda\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (6,7,8) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
df.head()

,Unnamed: 0,product_name,product_id,rank,category,item_price,also_viewed,bought_together,also_bought
0,0,Purple Sequin Tiny Dancer Tutu Ballet Dance Fa...,0000037214,1233557,Clothing,440.37,"'B00JO8II76', 'B00DGN4R1Q', 'B00E1YRI4C'",NaN,NaN
1,3,RiZ Women's Beautify Crafted &frac12; Rimmed F...,0456844570,1180499,Clothing,NaN,"'B008MTRT1O', 'B00BUG47S4', 'B00GTVY0DC', 'B00...",NaN,NaN
2,4,Lantin White Visor Wrap Around Ski Style Aviat...,0456808574,1038084,Clothing,NaN,"'B00A6JD8EA', 'B00BFL4FTA', 'B00JPI9AAO', 'B00...",NaN,NaN
3,7,Max-MPH Black - Large Wayfarer Sunglasses Avai...,0456840532,2728771,Clothing,NaN,"'B001K9DPPC', 'B00BV9MU2K', 'B0042FHTDK', 'B00...",NaN,NaN
4,8,FX1 Small Adult Aviator Sunglasses with Silver...,0456787283,456854,Clothing,NaN,"'B00AIPLH22', 'B005P1H8KO', 'B00CMCVKC6', 'B00...",NaN,NaN

In [6]:
df = df.drop(["Unnamed: 0"], axis = 1)

In [14]:
X = X.drop(["also_viewed","bought_together","also_bought"], axis =1)

In [16]:
X.head()

   product_id
0  0000037214
1  0456844570
2  0456808574
3  0456840532
4  0456787283

In [26]:
y = df["also_viewed"]

In [27]:
y

0                  'B00JO8II76', 'B00DGN4R1Q', 'B00E1YRI4C'
1         'B008MTRT1O', 'B00BUG47S4', 'B00GTVY0DC', 'B00...
2         'B00A6JD8EA', 'B00BFL4FTA', 'B00JPI9AAO', 'B00...
3         'B001K9DPPC', 'B00BV9MU2K', 'B0042FHTDK', 'B00...
4         'B00AIPLH22', 'B005P1H8KO', 'B00CMCVKC6', 'B00...
5         'B001K9DPPC', 'B0042FHTDK', 'B00DGJJI0U', 'B00...
6         'B00EPHEZJG', 'B001AL7ONO', 'B00GGAE5FO', 'B00...
7         'B00CZ8YX8K', 'B00CYG0M2E', 'B00BWZ94P4', 'B00...
8         'B00652TRR4', 'B00D8GLOTY', 'B00652U2ZK', 'B00...
9         'B00D8GLOTY', 'B002BE6VIS', 'B00652U2ZK', 'B00...
10        'B00652TRR4', 'B00652UFU2', 'B00693I356', 'B00...
11        'B002WN2L6O', 'B00EO17NKQ', 'B0062N0EU0', 'B00...
12                                             'B00DI6WQVE'
13        'B00BSW70OS', 'B003VDZ3NM', 'B0083MZDYA', 'B00...
14                                             'B0069BUI06'
15                                             'B00BGBV3IA'
16                 'B00HVH69SC', 'B00HZ1ELIY', 'B008O7UPKG'
17        'B00DZQDA26', 'B00HTH1RDG', 'B00HTH1MWW', 'B00...
18        'B008ZPZ9KS', 'B006CIHP7U', 'B006CIHP4S', 'B00...
19        'B00BNX6KHA', 'B00HTH1RDG', 'B00K5200X0', 'B00...
20        'B00CJVOWPC', 'B00EIGHAWS', 'B00GGG1JE8', 'B00...
21        'B001AKC25A', 'B0054V1270', 'B00BMV6MW6', 'B00...
22        'B009FSVI5O', 'B001AKC25A', 'B007LNW10G', 'B00...
23                                             'B008ESLL1M'
24        'B00FPNZ6T2', 'B00K5200X0', 'B000YD2C3G', 'B00...
25        'B00CJVOWPC', 'B008STCQ5M', 'B00K5200X0', 'B00...
26        'B00HTH1RDG', 'B00KFH83ES', 'B00DZQDA26', 'B00...
27        'B00CRS2TL6', 'B00BK6HPRE', 'B00AG8GU9Q', 'B00...
28        'B0042Z6YF4', 'B0042Z9IUW', 'B0084Z4ZPE', 'B00...
29        'B008DD51O6', 'B004301ZL6', 'B008DD510A', 'B00...
                                ...
657621                                                  NaN
657622                                                  NaN
657623                                                  NaN
657624                                                  NaN
657625                                                  NaN
657626                                                  NaN
657627                                                  NaN
657628                                                  NaN
657629                                                  NaN
657630                                                  NaN
657631                                                  NaN
657632                                                  NaN
657633                                                  NaN
657634                                                  NaN
657635                                                  NaN
657636                                                  NaN
657637                                                  NaN
657638                                                  NaN
657639                                                  NaN
657640                                                  NaN
657641                                                  NaN
657642                                                  NaN
657643                                                  NaN
657644                                                  NaN
657645                                                  NaN
657646                                                  NaN
657647                                                  NaN
657648                                                  NaN
657649                                                  NaN
657650                                                  NaN
Name: also_viewed, Length: 657651, dtype: object

In [19]:
from sklearn.model_selection import train_test_split

In [20]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [23]:
from sklearn.ensemble import RandomForestClassifier
random_forest = RandomForestClassifier(n_estimators=100)

random_forest.fit(X_train, y_train)

y_pred = random_forest.predict(X_test)

random_forest.score(X_train, y_train)

ValueError: could not convert string to float: 'B0040T0G74'