In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("just_clothing.csv")

C:\Users\Adithya\Anaconda\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (6,7,8) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df.head()

,Unnamed: 0,product_name,product_id,rank,category,item_price,also_viewed,bought_together,also_bought
0,0,Purple Sequin Tiny Dancer Tutu Ballet Dance Fa...,0000037214,1233557,Clothing,440.37,"'B00JO8II76', 'B00DGN4R1Q', 'B00E1YRI4C'",NaN,NaN
1,3,RiZ Women's Beautify Crafted &frac12; Rimmed F...,0456844570,1180499,Clothing,NaN,"'B008MTRT1O', 'B00BUG47S4', 'B00GTVY0DC', 'B00...",NaN,NaN
2,4,Lantin White Visor Wrap Around Ski Style Aviat...,0456808574,1038084,Clothing,NaN,"'B00A6JD8EA', 'B00BFL4FTA', 'B00JPI9AAO', 'B00...",NaN,NaN
3,7,Max-MPH Black - Large Wayfarer Sunglasses Avai...,0456840532,2728771,Clothing,NaN,"'B001K9DPPC', 'B00BV9MU2K', 'B0042FHTDK', 'B00...",NaN,NaN
4,8,FX1 Small Adult Aviator Sunglasses with Silver...,0456787283,456854,Clothing,NaN,"'B00AIPLH22', 'B005P1H8KO', 'B00CMCVKC6', 'B00...",NaN,NaN

In [10]:
df = df.drop(["product_id"], axis = 1)

In [4]:
df["pid"] = df["product_id"]
df["pname"] = df["product_name"]
df["price"] = df["item_price"]
df["rec"] = df["also_viewed"]

In [6]:
df["price"] = df["price"].fillna("500").astype(int)

In [7]:
df.head()

,product_id,pid,pname,price,rec
0,0000037214,0000037214,Purple Sequin Tiny Dancer Tutu Ballet Dance Fa...,440,"'B00JO8II76', 'B00DGN4R1Q', 'B00E1YRI4C'"
1,0456844570,0456844570,RiZ Women's Beautify Crafted &frac12; Rimmed F...,500,"'B008MTRT1O', 'B00BUG47S4', 'B00GTVY0DC', 'B00..."
2,0456808574,0456808574,Lantin White Visor Wrap Around Ski Style Aviat...,500,"'B00A6JD8EA', 'B00BFL4FTA', 'B00JPI9AAO', 'B00..."
3,0456840532,0456840532,Max-MPH Black - Large Wayfarer Sunglasses Avai...,500,"'B001K9DPPC', 'B00BV9MU2K', 'B0042FHTDK', 'B00..."
4,0456787283,0456787283,FX1 Small Adult Aviator Sunglasses with Silver...,500,"'B00AIPLH22', 'B005P1H8KO', 'B00CMCVKC6', 'B00..."

In [8]:
df = df.replace({"'": ""}, regex=True)

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 657651 entries, 0 to 657650
Data columns (total 4 columns):
pid      657651 non-null object
pname    657645 non-null object
price    657651 non-null int32
rec      378218 non-null object
dtypes: int32(1), object(3)
memory usage: 17.6+ MB

In [31]:
part = part.drop(["rank","item_price","also_viewed","also_bought","bought_together"],axis = 1)

In [33]:
part.head()

                                        product_name  product_id
0  Purple Sequin Tiny Dancer Tutu Ballet Dance Fa...  0000037214
1  RiZ Women's Beautify Crafted &frac12; Rimmed F...  0456844570
2  Lantin White Visor Wrap Around Ski Style Aviat...  0456808574
3  Max-MPH Black - Large Wayfarer Sunglasses Avai...  0456840532
4  FX1 Small Adult Aviator Sunglasses with Silver...  0456787283

In [33]:
# part.to_csv("name_id.csv")
df.to_csv("pinfo.csv", index = False)

In [32]:
df = df.replace({"B00JO8II76": "242246184243"}, regex=True)

In [63]:
a = df[:3500]

In [64]:
a.head()

,pid,pname,price,rec
0,50135138243,Purple Sequin Tiny Dancer Tutu Ballet Dance Fa...,440,"242246184243, B00DGN4R1Q, B00E1YRI4C"
1,0456844570,RiZ Womens Beautify Crafted &frac12; Rimmed Fl...,500,"B008MTRT1O, B00BUG47S4, B00GTVY0DC, B00J16GCAQ..."
2,1692721125,Lantin White Visor Wrap Around Ski Style Aviat...,500,"B00A6JD8EA, B00BFL4FTA, B00JPI9AAO, B005WF42SY..."
3,13040199243,Max-MPH Black - Large Wayfarer Sunglasses Avai...,500,"B001K9DPPC, B00BV9MU2K, B0042FHTDK, B003KK5LEW..."
4,17846162243,FX1 Small Adult Aviator Sunglasses with Silver...,500,"B00AIPLH22, B005P1H8KO, B00CMCVKC6, B002ACNX2I..."

In [65]:
a.to_csv("100.csv",index =  False)