In [1]:
import pandas as pd
import numpy as np

In [2]:
cat = pd.read_csv("Categories.csv")

In [3]:
cat.head()

The history saving thread hit an unexpected error (OperationalError('database is locked',)).History will not be written to the database.

   Unnamed: 0                        salesRank
0           0            {'Clothing': 1233557}
1           1  {'Sports &amp; Outdoors': 8547}
2           2      {'Kitchen & Dining': 16987}
3           3            {'Clothing': 1180499}
4           4            {'Clothing': 1038084}

In [4]:
cat = cat.drop(["Unnamed: 0"],axis=1)

In [6]:
a = cat

In [7]:
a = cat["salesRank"].str.replace('\d+', '')

In [10]:
b = cat['salesRank'].str.extract('(\d+)')

/home/adithyas/.local/lib/python3.5/site-packages/ipykernel_launcher.py:1: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)
  """Entry point for launching an IPython kernel.

In [11]:
b.head()

0    1233557
1       8547
2      16987
3    1180499
4    1038084
Name: salesRank, dtype: object

In [12]:
cat = a.to_frame()

In [13]:
cat.head()

                     salesRank
0               {'Clothing': }
1  {'Sports &amp; Outdoors': }
2       {'Kitchen & Dining': }
3               {'Clothing': }
4               {'Clothing': }

In [14]:
cat['salesRank'] = cat['salesRank'].map(lambda x: str(x)[2:])

In [17]:
cat['salesRank'] = cat['salesRank'].map(lambda x: str(x)[2:])
cat['salesRank'] = cat['salesRank'].map(lambda x: str(x)[:-4])

In [18]:
cat.head()

               salesRank
0               Clothing
1  Sports &amp; Outdoors
2       Kitchen & Dining
3               Clothing
4               Clothing

In [23]:
r = b.to_frame()

In [27]:
r["cat"] = cat["salesRank"]

In [28]:
r.head()

  salesRank                    cat
0   1233557               Clothing
1      8547  Sports &amp; Outdoors
2     16987       Kitchen & Dining
3   1180499               Clothing
4   1038084               Clothing

In [ ]:
r.to_csv("rank.csv")

In [38]:
df = pd.read_csv("Cleaned_data.csv", dtype = str)

In [39]:
df.head()

,Unnamed: 0,product_name,product_id,item_price,also_viewed,bought_together,also_bought,rank
0,826936,U.S. Polo Assn. Sport Men's US9061 Watch with ...,B008D902Q2,1385.37,"'B00E955EOO', 'B00DJ242ZK', 'B00AFXL15A', 'B00...","'B00E955EOO', 'B00DJ242ZK', 'B00J2L4EUA', 'B00...","'B00E955EOO', 'B00DJ242ZK', 'B00ENG7WGC', 'B00...",1
1,583,Converse Unisex Chuck Taylor Classic Colors Sn...,B000072UN4,NaN,'B001IX6F1G',"'B001IX6F1G', 'B009ZPWMIE'",NaN,10
2,591,Converse Unisex Chuck Taylor Classic Colors Sn...,B000072UN1,NaN,"'B005BMCKVE', 'B0000AS4YH', 'B005BMEJCW', 'B00...",'B000VHW3M0',NaN,10
3,594,Converse Unisex Chuck Taylor Classic Colors Sn...,B000072UMJ,NaN,"'B000AP4ZZG', 'B000APACVW', 'B008LQR36O', 'B00...","'B000APACVW', 'B000AP4ZZG', 'B008LQR36O', 'B00...","'B000APACVW', 'B008LQR36O', 'B000AP4ZZG', 'B00...",10
4,425689,Wholesale Lot of 50Pc 14G Belly Button Navel R...,B004HWZLBA,116.55000000000001,"'B00A3S40Z0', 'B00B4022II', 'B00AWP6BGU', 'B00...","'B00A3S40Z0', 'B00B4022II', 'B00BXF2CJS', 'B00...","'B00BXF2CJS', 'B00B4022II', 'B00A3S40Z0', 'B00...",10

In [40]:
new_df = df.sort_values("Unnamed: 0")

In [41]:
new_df.head()

,Unnamed: 0,product_name,product_id,item_price,also_viewed,bought_together,also_bought,rank
88736,0,Purple Sequin Tiny Dancer Tutu Ballet Dance Fa...,0000037214,440.37,"'B00JO8II76', 'B00DGN4R1Q', 'B00E1YRI4C'",NaN,NaN,1233557
874912,1,Ballet Dress-Up Fairy Tutu,0000031887,427.77,"'B00E1YRI4C', 'B00D23MC6W', 'B00AFDOPDA', 'B00...",'B00D23MC6W',"'0000031852', '0000031895', '0000031909', 'B00...",8547
942872,10,Red Crocodile Embossed Leather Travel Wallet,0641674791,NaN,"'B00A8OV6R4', 'B00A8P5M96', 'B00A80A9EY', 'B00...",NaN,NaN,NaN
732290,100,Shungite. Obereg GLAZ GORA Na podveske / Shung...,5699031936,NaN,'B00CCAC2CA',NaN,NaN,623406
858371,1000,Batman Utility Belt,B000096QJ7,NaN,"'B000N8S1GE', 'B0072ER5O6', 'B0099DPY6E', 'B00...","'B000N8Q56C', 'B000N8Q57Q', 'B00IIKENZ2', 'B00...","'B000N8Q56C', 'B000N8Q57Q', 'B00IIKENZ2', 'B00...",824301

In [42]:
df = pd.read_csv("Amazon product data.csv")

In [44]:
df

,asin,related,title,price,salesRank,imUrl,brand,categories,description
0,0000037214,"{'also_viewed': ['B00JO8II76', 'B00DGN4R1Q', '...",Purple Sequin Tiny Dancer Tutu Ballet Dance Fa...,6.99,{'Clothing': 1233557},http://ecx.images-amazon.com/images/I/31mCncNu...,Big Dreams,"[['Clothing, Shoes & Jewelry', 'Girls'], ['Clo...",NaN
1,0000031887,"{'also_bought': ['0000031852', '0000031895', '...",Ballet Dress-Up Fairy Tutu,6.79,{'Sports &amp; Outdoors': 8547},http://ecx.images-amazon.com/images/I/314qZjYe...,Boutique Cutie,"[['Clothing, Shoes & Jewelry', 'Girls', 'Cloth...",This adorable basic ballerina tutu is perfect ...
2,0123456479,"{'also_bought': ['B000BMTCK6', 'B0006JCGUM', '...",SHINING IMAGE HUGE PINK LEATHER JEWELRY BOX / ...,64.98,{'Kitchen & Dining': 16987},http://ecx.images-amazon.com/images/I/413tGhqo...,NaN,"[['Clothing, Shoes & Jewelry', 'Novelty, Costu...",Elegance par excellence. Hand-crafted of the f...
3,0456844570,"{'also_viewed': ['B008MTRT1O', 'B00BUG47S4', '...",RiZ Women's Beautify Crafted &frac12; Rimmed F...,NaN,{'Clothing': 1180499},http://ecx.images-amazon.com/images/I/31QZTHxv...,NaN,"[['Clothing, Shoes & Jewelry', 'Women', 'Acces...",NaN
4,0456808574,"{'also_viewed': ['B00A6JD8EA', 'B00BFL4FTA', '...",Lantin White Visor Wrap Around Ski Style Aviat...,NaN,{'Clothing': 1038084},http://ecx.images-amazon.com/images/I/31UsrgT5...,NaN,"[['Clothing, Shoes & Jewelry', 'Women', 'Acces...",NaN
5,0456830197,{'also_bought': ['729300236X']},NVC Unisex Light Weight Silver 'Dakota' Glasse...,NaN,{'Shoes': 257607},http://ecx.images-amazon.com/images/I/21PGEX1t...,NaN,"[['Clothing, Shoes & Jewelry', 'Women', 'Acces...",NaN
6,0456856293,"{'also_viewed': ['B005P1HF2U', 'B006K5JWOE', '...",Kismeth Eyewear Classic Large Top Gun Aviator ...,NaN,{'Shoes': 399415},http://ecx.images-amazon.com/images/I/31-NheYD...,NaN,"[['Clothing, Shoes & Jewelry', 'Women', 'Acces...",NaN
7,0456840532,"{'also_viewed': ['B001K9DPPC', 'B00BV9MU2K', '...",Max-MPH Black - Large Wayfarer Sunglasses Avai...,NaN,{'Clothing': 2728771},http://ecx.images-amazon.com/images/I/11q4qGCd...,NaN,"[['Clothing, Shoes & Jewelry', 'Women', 'Acces...",NaN
8,0456787283,"{'also_viewed': ['B00AIPLH22', 'B005P1H8KO', '...",FX1 Small Adult Aviator Sunglasses with Silver...,NaN,{'Clothing': 456854},http://ecx.images-amazon.com/images/I/31dS6eGu...,NaN,"[['Clothing, Shoes & Jewelry', 'Women', 'Acces...",NaN
9,0456838384,"{'also_viewed': ['B001K9DPPC', 'B0042FHTDK', '...",Riz Small Unisex (Mens/ Womens) Black Classic ...,NaN,{'Clothing': 437391},http://ecx.images-amazon.com/images/I/31b1J21i...,NaN,"[['Clothing, Shoes & Jewelry', 'Women', 'Acces...",NaN
10,0641674791,NaN,Red Crocodile Embossed Leather Travel Wallet,NaN,NaN,http://ecx.images-amazon.com/images/I/31wW2pPm...,NaN,"[['Clothing, Shoes & Jewelry', 'Women', 'Acces...",ISBN: 0641674791\r\nISBN-13: 9780641674792\r\n...
11,0641997078,"{'also_viewed': ['B00A8OV6R4', 'B00A8P5M96', '...",Vera Bradley Tote Blue Rhapsody,47.99,{'Home &amp; Kitchen': 656086},http://ecx.images-amazon.com/images/I/51WqmUxY...,NaN,"[['Clothing, Shoes & Jewelry', 'Luggage & Trav...","Vera Bradley Tote\r\n1 veryberry paisley,3 sym..."
12,0681256036,"{'also_viewed': ['B005TLMG0M', 'B002R0DRR4', '...",Twilight Saga: New Moon Alice Chocker Necklace...,17.59,{'Toys & Games': 674790},http://ecx.images-amazon.com/images/I/51shUz8Y...,NECA,"[['Clothing, Shoes & Jewelry', 'Novelty, Costu...",NaN
13,0681358173,NaN,Bear Ear Hoodie Jacket &amp; Poms on drawstrin...,NaN,{'Toys & Games': 600198},http://ecx.images-amazon.com/images/I/51JCLkQk...,NaN,"[['Clothing, Shoes & Jewelry', 'Women', 'Petit...",Adorable fleece teddy bear ear sweater for adu...
14,0742403920,"{'also_bought': ['B00598K6LQ', 'B00598K1IO', '...",Rectangle Blank Puzzle (12-pack),3.60,{'Toys & Games': 16840},http://ecx.images-amazon.com/images/I/51BgWs7D...,Instructional Fair,"[['Clothing, Shoes & Jewelry', 'Novelty, Costu...","Designed to be easily decorated with crayons, ..."
15,0756029929,NaN,Spanish Third-year Pin Set of 10,11.45,{'Toys & Games': 918374},http://ecx.images-amazon.com/images/I/51AqSOl7...,NaN,"[['Clothing, Shoes & Jewelry', 'Novelty, Costu...","Spanish Third-year Pin, 1 inch in diameter. S..."
16,0756029104,NaN,Viva Espanol Pins Set of 10,11.45,{'Home &amp; Kitchen': 2651070},http://ecx.images-amazon.com/images/I/51By%2BZ...,NaN,"[['Clothing, Shoes & Jewelry', 'Novelty, Costu...","Viva Espaol pin, 1 x 1 inch. Set of 10."
17,0765599864,NaN,Eagle / Hawk / Parrot Nose Bird Beak Costume Mask,NaN,{'Toys & Games': 907289},http://ecx.images-amazon.com/images/I/41N8QNv6...,NaN,"[['Clothing, Shoes & Jewelry', 'Novelty, Costu...","This Bird Beak Nose Costume Mask is about 3"", ..."
18,0839933363,NaN,Death Note Anime Manga: Cross Logo necklace,NaN,{'Toys & Games': 1350779},http://ecx.images-amazon.com/images/I/51f0HkHs...,NaN,"[['Clothing, Shoes & Jewelry', 'Novelty, Costu...",This necklace from the popular manga and anime...
19,1028907516,"{'buy_after_viewing': ['B00860FTNY', 'B008HBKJ...",New Lava Iron Blue Samurai Metal LED Faceless ...,6.29,NaN,http://ecx.images-amazon.com/images/I/51-qMpRX...,NaN,"[['Clothing, Shoes & Jewelry', 'Women', 'Watch...",NaN
20,1094780162,"{'buy_after_viewing': ['B00AAAH0Y4', 'B0056XGM...",Men Automatic U1 Skeleton Mechanical Watch Met...,19.15,NaN,http://ecx.images-amazon.com/images/I/51c8R8f-...,NaN,"[['Clothing, Shoes & Jewelry', 'Men', 'Watches...",NaN
21,1304567583,NaN,Pink Bikini Swimwear Glow in the Dark Fashion,19.99,NaN,http://ecx.images-amazon.com/images/I/41pS%2B9...,NaN,"[['Clothing, Shoes & Jewelry', 'Novelty, Costu...",pink bikini swimwear glow in the dark fashion
22,1304567613,NaN,Bikini Swimwear Blue Glow in the Dark Fashion,29.99,NaN,http://ecx.images-amazon.com/images/I/41ZNIUvY...,NaN,"[['Clothing, Shoes & Jewelry', 'Novelty, Costu...",Bikini Swimwear glow in the dark fashion blue
23,1304743128,"{'also_viewed': ['1304568083', '1300827327', '...",Glow in the Dark Fashion Beaded Penuar,19.99,NaN,http://ecx.images-amazon.com/images/I/41qSrLck...,NaN,"[['Clothing, Shoes & Jewelry', 'Novelty, Costu...",glow in the dark fashion penuar
24,1304743594,"{'also_viewed': ['1300827327', '1304743128', '...",Watch Black Match Iphone,NaN,NaN,http://ecx.images-amazon.com/images/I/4135gTwj...,NaN,"[['Clothing, Shoes & Jewelry', 'Women', 'Watch...",NaN
25,1397458135,{'buy_after_viewing': ['B0076LM0KO']},New Smart Steampunk Globle Motorcycle Carving ...,19.90,NaN,http://ecx.images-amazon.com/images/I/51qbcJns...,NaN,"[['Clothing, Shoes & Jewelry', 'Men', 'Watches...",Watch Case Size: Approx 4.80cm\r\nWatch Case M...
26,139475891X,"{'also_bought': ['B009SPTFOA', 'B009SPQIRC', '...",Stylish Triple Time Zones Black Leather Milita...,6.43,NaN,http://ecx.images-amazon.com/images/I/51VCgWSe...,NaN,"[['Clothing, Shoes & Jewelry', 'Men', 'Watches...",NaN
27,1394751931,NaN,Luxury Dark Angel's Heart Women Crystal Bracel...,NaN,NaN,http://ecx.images-amazon.com/images/I/51wCNVS%...,NaN,"[['Clothing, Shoes & Jewelry', 'Women', 'Watch...",NaN
28,1340918064,NaN,NEW Embossed Sailing Vessel Voyage Retro Bronz...,NaN,NaN,http://ecx.images-amazon.com/images/I/51ufgjhu...,NaN,"[['Clothing, Shoes & Jewelry', 'Men', 'Watches...",Watch Case Size: Approx 4.80cm\r\nWatch Case M...
29,1403799385,"{'also_viewed': ['B00IUWKQGI', 'B00BNF0NZ8', '...",Tibet Silver Inlay Red Jade Men's Ring,14.95,{'Home &amp; Kitchen': 1415576},http://ecx.images-amazon.com/images/I/51NEhmPU...,NaN,"[['Clothing, Shoes & Jewelry', 'Novelty, Costu...",NaN
...,...,...,...,...,...,...,...,...,...
1503354,B00LMWNE4O,{'also_viewed': ['B00H0IE47U']},Mossy Oak Babydoll Camo Lingerie (Top &amp; Pa...,49.99,NaN,http://ecx.images-amazon.com/images/I/41DnOjma...,NaN,"[['Clothing, Shoes & Jewelry', 'Women', 'Cloth...",NaN
1503355,B00LN6ZRAI,NaN,Ana Silver Co Labradorite 925 Sterling Silver ...,NaN,{'Jewelry': 184635},http://ecx.images-amazon.com/images/I/51uPgCga...,NaN,"[['Clothing, Shoes & Jewelry', 'Women'], ['Clo...",NaN
1503356,B00LN3TT5K,"{'also_viewed': ['B00LN4KZ1G', 'B00LN3J5WM', '...",ROSEMANDY Women's Sexy Halter Backless Elastic...,4.99,{'Clothing': 77912},http://ecx.images-amazon.com/images/I/41TflXiR...,NaN,"[['Clothing, Shoes & Jewelry', 'Women', 'Cloth...",NaN
1503357,B00LN3ZF7G,"{'also_viewed': ['B006ZZFV94', 'B00AX1JUEI', '...",American Apparel Dark Wash High-Waist Jean Cuf...,58.00,{'Clothing': 1201093},http://ecx.images-amazon.com/images/I/411UrzCE...,NaN,"[['Clothing, Shoes & Jewelry', 'Women', 'Cloth...",NaN
1503358,B00LNIUG84,"{'also_viewed': ['B00LNIUWW4', 'B00LOUQL6W', '...",Under Armour Men's UA Canelo H&amp;H T-Shirt,27.99,{'Sports &amp; Outdoors': 62582},http://ecx.images-amazon.com/images/I/41ZDmozI...,NaN,"[['Clothing, Shoes & Jewelry', 'Men', 'Clothin...",Charged Cotton&#174; fabric has the comfort of...
1503359,B00LO915B4,NaN,Bamboo Dita-04 Chestnut Women Casual Boots,36.99,{'Shoes': 483333},http://ecx.images-amazon.com/images/I/41CgDb1o...,NaN,"[['Clothing, Shoes & Jewelry', 'Boot Shop', 'W...",NaN
1503360,B00LO9BA96,NaN,Ana Silver Co Rose Quartz 925 Sterling Silver ...,NaN,{'Jewelry': 184636},http://ecx.images-amazon.com/images/I/51CSL2iV...,NaN,"[['Clothing, Shoes & Jewelry', 'Women'], ['Clo...",NaN
1503361,B00LOGH6JM,"{'also_viewed': ['B00KHTUY1O', 'B00ICMR06U', '...",Dri-Fit Tactical Military Camo Combat Mock Pai...,27.99,{'Clothing': 16429},http://ecx.images-amazon.com/images/I/51hqDzwN...,NaN,"[['Sports & Outdoors', 'Paintball & Airsoft', ...",NaN
1503362,B00LNSQIC2,"{'also_bought': ['B00LNKEGA6', 'B00LPP2VBK', '...",BeWild Brand&reg; - LeBron James Forgiven Welc...,12.99,{'Clothing': 4983},http://ecx.images-amazon.com/images/I/41xWrlCr...,NaN,"[['Clothing, Shoes & Jewelry', 'Men'], ['Cloth...",NaN
1503363,B00LOP5QAO,NaN,Thomas Jefferson Costume Kit Colonial Wig &amp...,14.88,NaN,http://ecx.images-amazon.com/images/I/51xU-VQA...,NaN,"[['Clothing, Shoes & Jewelry', 'Novelty, Costu...",NaN
1503364,B00LOP5Q6I,NaN,Thomas Jefferson Costume Kit Colonial Wig &amp...,14.88,NaN,http://ecx.images-amazon.com/images/I/51xU-VQA...,NaN,"[['Clothing, Shoes & Jewelry', 'Novelty, Costu...",NaN
1503365,B00LP0SA3I,NaN,Cubic Zirconia Sterling Silver 925 Infinity To...,14.99,{'Jewelry': 44660},http://ecx.images-amazon.com/images/I/314vzwtT...,NaN,"[['Clothing, Shoes & Jewelry', 'Women'], ['Clo...",NaN
1503366,B00LPJGHHK,"{'also_viewed': ['B000O7PDF6', 'B000VDVMIK', '...",Kenneth Cole Reaction Mens Big &amp; Tall Leat...,19.95,{'Clothing': 592252},http://ecx.images-amazon.com/images/I/41Jsr8oT...,NaN,"[['Clothing, Shoes & Jewelry', 'Men', 'Accesso...",NaN
1503367,B00LPG8VNG,"{'also_viewed': ['B00GWET2K2', 'B00KD74WR2', '...",Bonnibel Karla-1 Silver Glitter Women Pumps,25.99,NaN,http://ecx.images-amazon.com/images/I/412liZI%...,NaN,"[['Clothing, Shoes & Jewelry', 'Women', 'Shoes...",NaN
1503368,B00LPRHIA2,NaN,POCKET FRENZ&reg; BOYS 4-12 DRAGON T-REX DINOS...,25.00,NaN,http://ecx.images-amazon.com/images/I/51LNCGiQ...,NaN,"[['Clothing, Shoes & Jewelry', 'Boys', 'Clothi...",NaN
1503369,B00LQH0SM6,{'also_viewed': ['B00HNW4KHW']},Chouyatou Men's Pu Leather Mid-length Washed T...,74.99,{'Clothing': 252997},http://ecx.images-amazon.com/images/I/518LtsG1...,NaN,"[['Clothing, Shoes & Jewelry', 'Men', 'Clothin...",NaN
1503370,B00LQFGIQ8,"{'also_bought': ['B0026MRS0K', 'B00LUZE6FY', '...",Minnetonka Velcro Back Flap Bootie (Infant),NaN,{'Shoes': 9846},http://ecx.images-amazon.com/images/I/51XGsT70...,NaN,"[['Clothing, Shoes & Jewelry', 'M', 'Minnetonk...",NaN
1503371,B00LR6CCXO,"{'also_viewed': ['B00LG9WANE', 'B00LJ3ZTMQ', '...",Baby Girls 3rd Birthday Toddler Tutu Tank Top ...,36.97,{'Clothing': 139661},http://ecx.images-amazon.com/images/I/41q3SYX%...,NaN,"[['Clothing, Shoes & Jewelry', 'Baby', 'Baby G...",NaN
1503372,B00LSTZKZ2,NaN,Fred Flintstone Costume Adult Caveman Costume ...,19.77,NaN,http://ecx.images-amazon.com/images/I/41a8uhBp...,NaN,"[['Clothing, Shoes & Jewelry', 'Novelty, Costu...",NaN
1503373,B00LT05HAS,NaN,Betty Rubble Costume Adult Flintstone Costume ...,19.77,NaN,http://ecx.images-amazon.com/images/I/31Zaj9k4...,NaN,"[['Clothing, Shoes & Jewelry', 'Novelty, Costu...",NaN
1503374,B00LT2HE7A,{'also_viewed': ['B00E63GYSY']},Musical Holiday Women's Sateen Bridal Wedding ...,65.00,{'Clothing': 177976},http://ecx.images-amazon.com/images/I/31ZsEvg4...,NaN,"[['Clothing, Shoes & Jewelry', 'Women', 'Cloth...",NaN
1503375,B00LT05ICA,NaN,Betty Rubble Costume Adult Flintstone Costume ...,19.77,NaN,http://ecx.images-amazon.com/images/I/31Zaj9k4...,NaN,"[['Clothing, Shoes & Jewelry', 'Novelty, Costu...",NaN
1503376,B00LSTNH7U,"{'also_viewed': ['B007Q91160', 'B007Q9116K', '...",Wilma Flintstone Costume Adult Flintstones Cos...,19.77,NaN,http://ecx.images-amazon.com/images/I/31yJRd3S...,NaN,"[['Clothing, Shoes & Jewelry', 'Novelty, Costu...",NaN
1503377,B00LR9X7WQ,"{'also_viewed': ['B00LMYKCYW', 'B00LTXV5VK', '...",Bbmour-kids Girls Boys Frozen Anna and Elsa Pr...,8.99,{'Clothing': 56597},http://ecx.images-amazon.com/images/I/51tKsxcD...,NaN,"[['Clothing, Shoes & Jewelry', 'Girls', 'Cloth...",NaN
1503378,B00LSYRUVE,"{'also_bought': ['B000GX3ILO', 'B00H09OLT0', '...",Invicta Men's Pro Diver 8928C 2,79.74,{'Watches': 20},http://ecx.images-amazon.com/images/I/51mCZqT1...,Invicta,"[['Clothing, Shoes & Jewelry', 'Jewelry: Inter...",NaN
1503379,B00LU8ZCTU,"{'also_bought': ['B00C9LSE7Y'], 'also_viewed':...",It's Sterling Silver Heart Necklace with Made ...,24.99,{'Jewelry': 29873},http://ecx.images-amazon.com/images/I/41wBDoXB...,NaN,"[['Clothing, Shoes & Jewelry', 'Women'], ['Clo...",NaN
1503380,B00LU0ZXJM,NaN,Realtree Ruffle Spa Wrap + Mossy Oak Pink Scru...,NaN,NaN,http://ecx.images-amazon.com/images/I/41mJKa23...,NaN,"[['Clothing, Shoes & Jewelry', 'Women', 'Cloth...",NaN
1503381,B00LV5LDYK,NaN,Women's Empire Waist with Tummy Control/ Full ...,NaN,NaN,http://ecx.images-amazon.com/images/I/416PfDL1...,NaN,"[['Clothing, Shoes & Jewelry', 'Women'], ['Clo...",NaN
1503382,B00LWWANMU,"{'also_viewed': ['B00EMDL9Y2', 'B00ER1OL08', '...",Skirts 'N Scarves Women's Long Cotton Maxi Pai...,19.99,{'Clothing': 521540},http://ecx.images-amazon.com/images/I/51SOSTQg...,NaN,"[['Clothing, Shoes & Jewelry', 'Women', 'Cloth...",NaN
1503383,B00LZSAV2I,NaN,American Posh Baby Short Sleeve Onesie,49.99,{'Clothing': 265633},http://ecx.images-amazon.com/images/I/41jog0Wa...,NaN,"[['Clothing, Shoes & Jewelry', 'Baby', 'Baby G...",NaN