In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("just_clothing.csv")

C:\Users\Adithya\Anaconda\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (6,7,8) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df.head()

,Unnamed: 0,product_name,product_id,rank,category,item_price,also_viewed,bought_together,also_bought
0,0,Purple Sequin Tiny Dancer Tutu Ballet Dance Fa...,0000037214,1233557,Clothing,440.37,"'B00JO8II76', 'B00DGN4R1Q', 'B00E1YRI4C'",NaN,NaN
1,3,RiZ Women's Beautify Crafted &frac12; Rimmed F...,0456844570,1180499,Clothing,NaN,"'B008MTRT1O', 'B00BUG47S4', 'B00GTVY0DC', 'B00...",NaN,NaN
2,4,Lantin White Visor Wrap Around Ski Style Aviat...,0456808574,1038084,Clothing,NaN,"'B00A6JD8EA', 'B00BFL4FTA', 'B00JPI9AAO', 'B00...",NaN,NaN
3,7,Max-MPH Black - Large Wayfarer Sunglasses Avai...,0456840532,2728771,Clothing,NaN,"'B001K9DPPC', 'B00BV9MU2K', 'B0042FHTDK', 'B00...",NaN,NaN
4,8,FX1 Small Adult Aviator Sunglasses with Silver...,0456787283,456854,Clothing,NaN,"'B00AIPLH22', 'B005P1H8KO', 'B00CMCVKC6', 'B00...",NaN,NaN

In [4]:
df = df.drop(["Unnamed: 0"], axis = 1)

In [4]:
df["pid"] = df["product_id"]
df["pname"] = df["product_name"]
df["price"] = df["item_price"]
df["rec"] = df["also_viewed"]

In [13]:
df["item_price"] = df["item_price"].fillna("500").astype(int)

In [16]:
df.sort_values(["rank"])

,product_name,product_id,rank,item_price,also_viewed
649060,Generic Disney Frozen Dress Princess Elsa Girl...,B00JL81P06,1,500,NaN
649067,Generic Disney Frozen Dress Princess Elsa Girl...,B00JL81P38,1,500,NaN
649073,Generic Disney Frozen Dress Princess Elsa Girl...,B00JL81OUC,1,500,NaN
649063,Generic Disney Frozen Dress Princess Elsa Girl...,B00JL81OWA,1,500,NaN
637852,Jacted Up Tees I 8 Sum Pi and it was Delicious...,B00IQWMYAI,2,500,NaN
389176,Ray-Ban RB2132 New Wayfarer Sunglasses,B00AO79FZA,4,8505,NaN
964,Levi's Men's 505 Regular-Fit Jean,B00012O1AW,4,500,"'B00H2PVQX6', 'B003ABW5N6', 'B003VQ27V0', 'B00..."
624435,Handcraft Girls Disney Frozen 7 Pack Panty,B00HXRUMDI,4,500,NaN
957,Levi's Men's 505 Regular-Fit Jean,B00012O1F2,4,500,"'B000P5VEKU', 'B0002P58UK', 'B001UQ6ZPW', 'B00..."
956,Levi's Men's 505 Regular-Fit Jean,B00012O12A,4,500,"'B002CQTZFG', 'B0042D7PP4', 'B0079MIKM2', 'B00..."
624433,Handcraft Girls Disney Frozen 7 Pack Panty,B00HXRUMDS,4,500,NaN
10794,Ray-Ban RB2132 New Wayfarer Sunglasses,B000FBO0DM,4,4706,"'B0073E5164', 'B002HJBLE6', 'B001E1UNU6', 'B00..."
302127,JanSport Classic SuperBreak Backpack,B008FQM9J6,4,3141,"'B00B7O6NRC', 'B00G26X78I', 'B004TITCBW', 'B00..."
4601,JanSport Classic SuperBreak Backpack,B0007QCQH2,5,1984,"'B00JRTMD3W', 'B00AFPTMMM', 'B00AHY4PRS'"
697,Levi's Men's 501 Original Fit Jean,B0000C321X,5,500,"'B00BTLM4H6', 'B00BTD3M7U', 'B00IPVJX9A', 'B00..."
591044,Levi's Men's 505 Regular-Fit Jean,B00GAP6ZBW,5,500,NaN
4596,JanSport Classic SuperBreak Backpack,B0007QCQGI,5,1852,"'B006OKAOB0', 'B0083SV7MQ', 'B00ANHGGB2', 'B00..."
116722,Levi's Men's 501 Original Fit Jean,B003WKUYPQ,5,500,"'B006QSOIDK', 'B00CJ26NO4', 'B00DNVSBVI', 'B00..."
4607,JanSport Classic SuperBreak Backpack,B0007QCSKM,5,1984,"'B00EV4YYJE', 'B00I1AE8EA'"
203761,Levi's Men's 501 Original Fit Jean,B005RD7NE6,5,500,"'B00ANAEC6K', 'B000BVL5E8', 'B00ANAEW60', 'B00..."
116716,Levi's Men's 501 Original Fit Jean,B003WKUYSS,5,500,"'B0087L9B9U', 'B009ZQ5SZM', 'B006ZEQPZ4', 'B00..."
51141,Levi's Men's 501 Original Fit Jean,B001GPATXQ,6,500,"'B002ZJW4NA', 'B00GP9UDLG', 'B004JXWWH8', 'B00..."
468356,JanSport Classic SuperBreak Backpack,B00CHSC36C,6,3020,NaN
5166,Ray-Ban RB3025 Aviator Sunglasses,B0007ZM042,7,5953,"'B0007G8W3O', 'B008PDF2CK', 'B008PDF2QG', 'B00..."
3531,Levi's Men's 511 Slim Fit Jean,B0006LMBJ6,8,500,"'B008GWWEMG', 'B000PKR93Q', 'B000QTY34Y', 'B00..."
491569,Ray-Ban RB3025 Aviator Sunglasses,B00D3903Q6,8,8005,NaN
3528,Levi's Men's 511 Slim Fit Jean,B0006LMBLE,8,500,"'B007ZH3EF4', 'B000QCJS0U', 'B00JU4RJ2O', 'B00..."
377712,Hanes Men's Classics Five-Pack Boxer Brief - C...,B00ACIGVIK,10,500,'B00KQVADGY'
377709,Hanes Men's Classics Five-Pack Boxer Brief - C...,B00ACIGUBI,10,500,"'B00ELAKUHS', 'B00KMFVI0Y', 'B00KAJNUE4', 'B00..."
377668,Hanes Men's Classics Five-Pack Boxer Brief - C...,B00ACIFJEW,10,500,"'B008XOXGGA', 'B00IJGDMA2', 'B00E3HK2QI', 'B00..."
...,...,...,...,...,...
588747,MICHAEL KORS Eyeglasses MK840 279 Sand 52MM,B00G63ZQR2,3582649,5950,NaN
597298,Jordan Craig Utility Cargo Pant City Camo Pink,B00GLDY96G,3583584,2520,NaN
602150,Dlass Strapless Appliques High Low Prom Dresse...,B00GSCP324,3584090,500,NaN
605948,FLATSEVEN Mens Womens Herringbone Newsboy Cap ...,B00GXYGA38,3584631,500,NaN
204615,California Flag T-shirt/tee Back Printed by DSC,B005SH2U4Y,3584765,629,"'B00AO19KF6', 'B008JEDJAW', 'B00AO3BJDU', 'B00..."
607362,FLATSEVEN Mens Womens Checker Fabric Military ...,B00GZDEU4S,3584780,500,NaN
614638,Vivienne Westwood Men's Mako Tiger T-Shirt,B00HF4K46Y,3585937,19698,NaN
309075,The Mountain Find 12 Eagles Youth T-Shirt,B008LB5WOO,3586335,500,"'B00EU8VS5O', 'B00DUJ46GC', 'B00FPK3YLW', 'B00..."
424709,Ellos Women's Plus Size Flyaway cardigan sweater,B00BGDI872,3586357,500,NaN
618326,Red Engine Women's Petite Lily Bootcut Jeans,B00HNDN6Y4,3586462,8316,NaN
620086,Le Top Baby-Girls Infant Posy Party Floral Cor...,B00HQPGQN2,3586667,3461,NaN
621424,Fossil Sasha Top Zip Zb5763200 Color: Brown,B00HSKV6OE,3586895,500,NaN
574223,Hamster Kigurumi (All Ages Costume),B00FKQ9YTM,3587669,500,NaN
637131,Vocal Short Sleeved Southwest Inspired Shark B...,B00IOZD79E,3589788,3087,NaN
637921,"Sailor Moon Cosplay Costume (XL, Sailor Venus)",B00IR53GVK,3589934,500,NaN
641882,Beach Pants Male Hawaii Leisure Plaid Shorts S...,B00J01AQOA,3590846,500,NaN
314071,QT Girl Women's Moulin Rouge burlesque costume...,B008OD0N52,3590884,500,"'B00FGER8EG', 'B00D5SCY1M', 'B00EW7AMY6', 'B00..."
643002,Microfiber 46 Girls Tights School Select Non P...,B00J393KI8,3591169,500,NaN
644220,Hee Grand Girls Long Sleeve 7 Button Cardigan,B00J64M02M,3591609,652,NaN
644853,Training Your Dragon Toothless Aberdeen Lumino...,B00J8NMBYI,3591832,500,NaN
92771,Jones New York Men's Rubin 2 Button Side Vent ...,B0035AKDMC,3592048,500,"'B0044XY2RG', 'B000WN2T68', 'B00HQHFKHI', 'B00..."
466024,Spreadshirt Men's Keep Calm and Bear Down Chic...,B00CFT25CK,3592395,1467,NaN
199348,NOPPIES Women's Maternity Seamless shorts Seam...,B005NZ5ICC,3593565,1385,"'B00AFCM7EK', 'B009XPJTPA', 'B009X8F2JY', 'B00..."
345939,Leg Avenue Women's Assassin's Creed 8 Piece Ezio,B009GLIGZ0,3594084,8510,"'B00H4TAH08', 'B00H4TG9UU', 'B00H4TLWKC', 'B00..."
654813,SickFits I Love Whole Foods Men's Unisex Soft ...,B00KB9XDMM,3595076,818,NaN
655685,Cheetah Animal Print Bath Wrap + Matching Beac...,B00KGRBQE6,3595602,500,NaN
655684,Cheetah Animal Print Bath Wrap + Matching Beac...,B00KGRBQEG,3595602,500,NaN
613884,Tuscany Leather TL Bag - Soft Leather Shoulder...,B00HDAUYII,3595816,500,NaN
656956,Deb Junior Crochet and Lace Racerback Tank Top...,B00KTPA21S,3596738,1128,NaN
642350,Miarisport Women's Longsleeved Latin Practice ...,B00J1AQ6LC,3597088,11277,NaN

In [8]:
df = df.replace({"'": ""}, regex=True)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 657651 entries, 0 to 657650
Data columns (total 8 columns):
product_name       657645 non-null object
product_id         657651 non-null object
rank               657651 non-null int64
category           657651 non-null object
item_price         245333 non-null float64
also_viewed        378218 non-null object
bought_together    242514 non-null object
also_bought        167302 non-null object
dtypes: float64(1), int64(1), object(6)
memory usage: 40.1+ MB

In [9]:
df = df.drop(["category"],axis = 1)

In [33]:
part.head()

                                        product_name  product_id
0  Purple Sequin Tiny Dancer Tutu Ballet Dance Fa...  0000037214
1  RiZ Women's Beautify Crafted &frac12; Rimmed F...  0456844570
2  Lantin White Visor Wrap Around Ski Style Aviat...  0456808574
3  Max-MPH Black - Large Wayfarer Sunglasses Avai...  0456840532
4  FX1 Small Adult Aviator Sunglasses with Silver...  0456787283

In [33]:
# part.to_csv("name_id.csv")
df.to_csv("pinfo.csv", index = False)

In [32]:
df = df.replace({"B00JO8II76": "242246184243"}, regex=True)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 657651 entries, 0 to 657650
Data columns (total 5 columns):
product_name    657645 non-null object
product_id      657651 non-null object
rank            657651 non-null int64
item_price      245333 non-null float64
also_viewed     378218 non-null object
dtypes: float64(1), int64(1), object(3)
memory usage: 25.1+ MB

In [63]:
a = df[:3500]

In [14]:
df.head()

,product_name,product_id,rank,item_price,also_viewed
0,Purple Sequin Tiny Dancer Tutu Ballet Dance Fa...,0000037214,1233557,440,"'B00JO8II76', 'B00DGN4R1Q', 'B00E1YRI4C'"
1,RiZ Women's Beautify Crafted &frac12; Rimmed F...,0456844570,1180499,500,"'B008MTRT1O', 'B00BUG47S4', 'B00GTVY0DC', 'B00..."
2,Lantin White Visor Wrap Around Ski Style Aviat...,0456808574,1038084,500,"'B00A6JD8EA', 'B00BFL4FTA', 'B00JPI9AAO', 'B00..."
3,Max-MPH Black - Large Wayfarer Sunglasses Avai...,0456840532,2728771,500,"'B001K9DPPC', 'B00BV9MU2K', 'B0042FHTDK', 'B00..."
4,FX1 Small Adult Aviator Sunglasses with Silver...,0456787283,456854,500,"'B00AIPLH22', 'B005P1H8KO', 'B00CMCVKC6', 'B00..."

In [65]:
a.to_csv("100.csv",index =  False)

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 657651 entries, 0 to 657650
Data columns (total 5 columns):
product_name    657645 non-null object
product_id      657651 non-null object
rank            657651 non-null int64
item_price      657651 non-null int32
also_viewed     378218 non-null object
dtypes: int32(1), int64(1), object(3)
memory usage: 22.6+ MB

In [18]:
df.head()

,product_name,product_id,rank,item_price,also_viewed
0,Purple Sequin Tiny Dancer Tutu Ballet Dance Fa...,0000037214,1233557,440,"'B00JO8II76', 'B00DGN4R1Q', 'B00E1YRI4C'"
1,RiZ Women's Beautify Crafted &frac12; Rimmed F...,0456844570,1180499,500,"'B008MTRT1O', 'B00BUG47S4', 'B00GTVY0DC', 'B00..."
2,Lantin White Visor Wrap Around Ski Style Aviat...,0456808574,1038084,500,"'B00A6JD8EA', 'B00BFL4FTA', 'B00JPI9AAO', 'B00..."
3,Max-MPH Black - Large Wayfarer Sunglasses Avai...,0456840532,2728771,500,"'B001K9DPPC', 'B00BV9MU2K', 'B0042FHTDK', 'B00..."
4,FX1 Small Adult Aviator Sunglasses with Silver...,0456787283,456854,500,"'B00AIPLH22', 'B005P1H8KO', 'B00CMCVKC6', 'B00..."

In [90]:
df.head()

,product_name,product_id,rank,item_price,also_viewed
0,Purple Sequin Tiny Dancer Tutu Ballet Dance Fa...,0000037214,1233557,440,"B00JO8II76,,"
1,RiZ Womens Beautify Crafted &frac12; Rimmed Fl...,0456844570,1180499,500,",,,,, B004UOPY80,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,..."
2,Lantin White Visor Wrap Around Ski Style Aviat...,0456808574,1038084,500,",,,,,, B003T1CFF0,,,,,, B00BD6M7P6,,"
3,Max-MPH Black - Large Wayfarer Sunglasses Avai...,0456840532,2728771,500,"B001K9DPPC, B00BV9MU2K, B0042FHTDK,, B006GQ6HF..."
4,FX1 Small Adult Aviator Sunglasses with Silver...,0456787283,456854,500,",,,,, B008MNVR4K,,,,,, B00703LLW6,,,,,,, B002C..."

In [89]:
for index, rows in df.iterrows():
    letters = rows["also_viewed"]
    letters = letters.split(',')
    for i in letters:
        if len(df.loc[df['product_id'] == i.strip()].index) ==0:
            df = df.replace({i: ""}, regex=True)

KeyboardInterrupt:

In [73]:
xx = df.loc[df['product_id'] == 'B00BUG47S4']

In [74]:
if xx.count  == -1:
    a=1
else :
    a =2

In [71]:
a

2

In [ ]:
xx

In [30]:
df = df.replace({"'": ""}, regex=True)

In [41]:
df["also_viewed"][1]

'B008MTRT1O, B00BUG47S4, B00GTVY0DC, B00J16GCAQ, B00FWHDVRK, B004UOPY80, B00DIQKJFY, B008FEJ8CE, B00KG44HMM, B005P1IWNQ, B00BIS4RU2, B007FKHICQ, B00J5PSOLI, B005UW0P2G, B00G2LY6OC, B00DST8O94, B00KJNR7DQ, B00ECWTB7A, B00LNN0J2M, B00BIS4OUK, B00K1NYRQE, B00ENSN70U, B00DSEMUPI, B00877BFFM, B00FJXEC9S, B0077M434I, B00BJ8PAZC, B005UW0QN4, B005P1JHO4, B00CTXL7Q2, B00B1X1JZA, B00B51BDZY, B00E6M6PRK, B005P1FTAK, B00BPGVX1S, B009KYUP7K, B00E9LQJEW, B00E0XCFWO, B00JU9ZRH8, B00HWPPQIC'

In [36]:
letters = letters.split(',')

In [38]:
letters[1].strip()

'B00BUG47S4'

In [50]:
df.loc[df['product_id'] == 'B00E1YRI4C']

Empty DataFrame
Columns: [product_name, product_id, rank, item_price, also_viewed]
Index: []

In [22]:
count = 0
for value in x:
        count = count + 1

In [29]:
letters[1]

" 'B00BUG47S4'"